### Przydatne funkcje i metody

**.set_index** - ustawienie danej kolumny jako indeksu
**.reset_index** - resetuje indeks do wartości domyślnych

**.is_unique** - sprawdza czy wartości są unikalne

**.loc** (nazwa od locate) - przeszukuje DataFrame po indeksach np koty.loc['Molek']
**.iloc** - bardzo podobna do loc, z tą różnicą, że funkcja iloc korzysta tylko i wyłącznie z wartości numerycznych indeksów. Nawet jeżeli indeks wierszy jest ustawiony na region i nawet jeżeli nasze kolumny mają nazwy, funkcją iloc przyjmie tylko numery wierszy i kolumn

**.head()** - wyświetli (domyślnie 5) pierwszych rekordów
**.tail()** - wyświetli (domyślnie 5) ostatnich rekordów
**.sample()** - wyświetli losowo wybrany rekord (domyślnie 1 rekord)

## Import pliku

Najczęściej używane:
* read_csv()
* read_excel()
* read_html()
* read_json()
* read_sql()

**UWAGA:** *Ścieżki plików działają również z adresami URL*

In [89]:
from pandas import read_csv

iris = read_csv('https://raw.githubusercontent.com/scikit-learn/scikit-learn/main/sklearn/datasets/data/iris.csv')
iris.head()

   150    4  setosa  versicolor  virginica
0  5.1  3.5     1.4         0.2          0
1  4.9  3.0     1.4         0.2          0
2  4.7  3.2     1.3         0.2          0
3  4.6  3.1     1.5         0.2          0
4  5.0  3.6     1.4         0.2          0

##### Przydatne atrybuty podczas tworzenia DataFrame.

**skiprow** - pominięcie podczas tworzenia DataFrame określonej ilości wierszy (np. nagłówków).
**names** - utworzenie własnych nazw nagłówków.

In [90]:
url = 'https://raw.githubusercontent.com/scikit-learn/scikit-learn/main/sklearn/datasets/data/iris.csv'
iris = read_csv(url, skiprows=1, names=['Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'])
iris

     Sepal length  Sepal width  Petal length  Petal width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

##### Zamiana wartości w kolumnie za pomocą .replace()

In [91]:
iris['Species'].replace({
    0: 'setosa',
    1: 'virginca',
    2: 'versicolor'
}, inplace=True)

iris

     Sepal length  Sepal width  Petal length  Petal width     Species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3  versicolor
146           6.3          2.5           5.0          1.9  versicolor
147           6.5          3.0           5.2          2.0  versicolor
148           6.2          3.4           5.4          2.3  versicolor
149           5.9          3.0           5.1          1.8  versicolor

[150 rows x 5 columns]

**UWAGA:** ***inplace = True*** wprowadza zmiany do DataFrame na stałe

In [92]:
# Tworzymy nowy DataFrame w losowej kolejności z oryginalnego DataFrame, a następnie resetujemy indeksy
chaos_iris = iris.sample(frac=1.0).reset_index(drop=True)  # parametr frac -> weź 100% danych
chaos_iris

     Sepal length  Sepal width  Petal length  Petal width     Species
0             6.7          2.5           5.8          1.8  versicolor
1             5.9          3.0           4.2          1.5    virginca
2             6.1          2.8           4.7          1.2    virginca
3             7.6          3.0           6.6          2.1  versicolor
4             6.2          3.4           5.4          2.3  versicolor
..            ...          ...           ...          ...         ...
145           5.8          2.7           3.9          1.2    virginca
146           4.6          3.1           1.5          0.2      setosa
147           6.4          3.2           5.3          2.3  versicolor
148           6.7          3.0           5.0          1.7    virginca
149           6.5          3.2           5.1          2.0  versicolor

[150 rows x 5 columns]

In [93]:
# Spośród wszystkich danych wybieramy tylko te, które pasują do naszego zapytania
iris[iris['Species'] == 'setosa']

    Sepal length  Sepal width  Petal length  Petal width Species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [100]:
oscars = read_csv('dane/oscars.csv')
oscars.head(20)

    year                      category  winner                   entity
0   1927                         ACTOR   False      Richard Barthelmess
1   1927                         ACTOR    True            Emil Jannings
2   1927                       ACTRESS   False           Louise Dresser
3   1927                       ACTRESS    True             Janet Gaynor
4   1927                       ACTRESS   False           Gloria Swanson
5   1927                 ART DIRECTION   False            Rochus Gliese
6   1927                 ART DIRECTION    True  William Cameron Menzies
7   1927                 ART DIRECTION   False             Harry Oliver
8   1927                CINEMATOGRAPHY   False            George Barnes
9   1927                CINEMATOGRAPHY    True           Charles Rosher
10  1927                CINEMATOGRAPHY    True              Karl Struss
11  1927    DIRECTING (Comedy Picture)    True          Lewis Milestone
12  1927    DIRECTING (Comedy Picture)   False                Ted Wilde
13  1927  DIRECTING (Dramatic Picture)    True            Frank Borzage
14  1927  DIRECTING (Dramatic Picture)   False           Herbert Brenon
15  1927  DIRECTING (Dramatic Picture)   False               King Vidor
16  1927           ENGINEERING EFFECTS   False           Ralph Hammeras
17  1927           ENGINEERING EFFECTS    True              Roy Pomeroy
18  1927           ENGINEERING EFFECTS   False         Nugent Slaughter
19  1927           OUTSTANDING PICTURE   False        The Caddo Company

In [101]:
where1 = oscars['entity'] == 'Brad Pitt'
oscars[where1]

       year                    category  winner     entity
7979   1995  ACTOR IN A SUPPORTING ROLE   False  Brad Pitt
9689   2008     ACTOR IN A LEADING ROLE   False  Brad Pitt
10083  2011     ACTOR IN A LEADING ROLE   False  Brad Pitt
11202  2019  ACTOR IN A SUPPORTING ROLE    True  Brad Pitt